@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
:root {
    --primary-color: green;
} 
body {
    font-family: 'Poppins', sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
.nav {
    position: fixed;
    isolation: isolate;
    z-index: 9;
    width: 100%;
}
.nav-header {
    display: flex;
    justify-content: space-between;

}